
 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page client</title>
</head>

<body>
<h1 id="compteur"></h1>
</body>
<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script>


    });
    var conn = new ab.Session('ws://localhost:8080',
        function() {
            //console.log("connected");
            conn.subscribe('channel', function(topic, data) {
                // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                console.log('New article published to category "' + topic + '" : ' + data.compteur);
            });
        },
        function() {
            console.warn('WebSocket connection closed');
        },
        {'skipSubprotocolCheck': true}
    );
</script>
</html> 
